:host{
  display:block;
  min-height:100vh;
  background:#070707;
}

.wrapper{
  padding:30px;
  color:white;
}

h1{
  font-size:48px;
  margin-bottom:20px;
}

.cards{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
}

.card{
  background:#0d0d0d;
  border:1px solid #1d1d1d;
  border-radius:20px;
  padding:24px;
}

.card span{
  display:block;
  margin-top:20px;
  font-size:32px;
  font-weight:700;
}

.card p{
  color:#00ff88;
}

.content{
  margin-top:25px;
  display:grid;
  grid-template-columns:2fr 1fr;
  gap:20px;
}

.chart-box,
.asset-box{
  background:#0d0d0d;
  border:1px solid #1d1d1d;
  border-radius:20px;
  padding:24px;
}

.asset{
  padding:15px;
  border-bottom:1px solid #1d1d1d;
}

.asset:last-child{
  border-bottom:none;
}

@media(max-width:992px){

  .cards{
    grid-template-columns:1fr;
  }

  .content{
    grid-template-columns:1fr;
  }

}